<h1 mat-dialog-title>Registro Producto</h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre" (keypress)="keyPressAlpha($event)" (ngModelChange)="data.nombre=$event.trim()" [disabled] = 'habilitado' >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripcion</mat-label>
    <input matInput [(ngModel)]="data.descripcion" (keypress)="keyPressAlpha($event)" (ngModelChange)="data.descripcion=$event.toUpperCase().trim()" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input matInput [(ngModel)]="data.precio" (keypress)="keyPressAlphaNumericWithCharacters($event)" (ngModelChange)="data.precio=$event.toUpperCase().trim()" required>
  </mat-form-field>



  <mat-form-field>
    <mat-label>Stock</mat-label>
    <input matInput [(ngModel)]="data.stock"  (keypress)="keyPressNumbers($event)" (ngModelChange)="data.stock=$event.trim()" required>
  </mat-form-field>


<br/>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="registrar()" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>

  <button mat-button [mat-dialog-close]="data.nombre" cdkFocusInitial>Cerrar</button>
</div>
