<form [formGroup]="form" (ngSubmit)="registrarVenta()" #espForm="ngForm">
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="container top-5">
      <div class="row ">
          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Comprobante</mat-card-title>

              </mat-card-header>

              <mat-card-content>


                <div class='row'>

                  <div class='column d-flex justify-content-center'>
                  <h1>  S/.{{getTotalLabel()}}</h1>
                  </div>
                </div>

                <div class='row'>
                  <div class='column'>
                <mat-form-field appearance="fill">
                  <mat-label>numero de venta</mat-label>
                  <input matInput  formControlName="numVenta" >
                </mat-form-field>
              </div>
              </div>
              <div class='row'>
                <div class='column'>
                <mat-form-field appearance="fill">
                  <mat-label>Tipo Recibo</mat-label>
                  <mat-select placeholder="Selecciona tipo de recibo"  formControlName="tipoRecibo">
                    <mat-option value="">Selecciona recibo</mat-option>
                    <mat-option *ngFor="let p of (tipoRecibos$ | async)" [value]="p">
                      {{p.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class='d-flex flex-row'>

              <mat-form-field>
                  <input type="text" placeholder="Cliente" matInput [matAutocomplete]="autoCliente"
                      [formControl]="myControlCliente" formControlName="cliente"  >
              </mat-form-field>

              <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="mostrarCliente">
                  <mat-option *ngFor="let p of clientesFiltrados$ | async" [value]="p">
                    {{p.apellidoPaterno}} {{p.apellidoMaterno}} {{ p.nombres }}
                  </mat-option>
              </mat-autocomplete>
                <!-- <button mat-button (click)="openDialog()" type="button">
                  <mat-icon >perm_identity</mat-icon>
                </button> -->

            </div>

            <div class='row'>
              <div class='column'>
              <mat-form-field appearance="fill">
                <mat-label>Plan</mat-label>
                <mat-select placeholder="Selecciona tipo de recibo"  formControlName="plan">
                  <mat-option value="">Selecciona plan</mat-option>
                  <mat-option *ngFor="let p of (planes$ | async)" [value]="p">
                    {{p.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


              </mat-card-content>
              <mat-card-actions>

                  <button mat-raised-button color="primary"  type="submit">
                    <mat-icon>done</mat-icon>
                    <span>Aceptar</span>
                  </button>

                <!-- <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-md-9">
              <div class="example-header">

    <mat-form-field >
        <input matInput #filtro (keyup)="filtrar(filtro.value)" placeholder="Buscar Empleado">
    </mat-form-field>
  </div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="numVenta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>venta</th>
      <td mat-cell *matCellDef="let element"> {{element.numVenta}} </td>
  </ng-container>

    <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.apellidoPaterno}} {{element.cliente.apellidoMaterno}} {{element.cliente.nombres}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoRecibo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Recibo  </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoRecibo.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="plan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Plan </th>
      <td mat-cell *matCellDef="let element"> {{element.plan.nombre}} </td>
  </ng-container>

    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
      <td mat-cell *matCellDef="let element">
        <!-- <div *ngIf='element.activo' class="activo"></div>
        <div *ngIf='!element.activo' class="desactivo"></div> -->
      </td>
  </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <!-- <button mat-button color="primary" (click)="openDialogMod(element)">
                <mat-icon>ballot</mat-icon>
            </button> -->
            <button mat-button color="accent" type="button" (click)="eliminar(element.idVenta)" value="Confirm">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="5"  [length]='cantidad' (page)="mostrarMas($event)"></mat-paginator>
          </div>
      </div>

      <div class="row">
      <div class="col-md-8">
        <mat-card class=" mt-2">
          <mat-card-header>

            <mat-card-title>Datos del Producto</mat-card-title>

          </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input type="text" placeholder="Producto" matInput [matAutocomplete]="autoProducto"
                [formControl]="myControlProducto" formControlName="producto" (keyup.enter)="onEnter()" >
        </mat-form-field>

        <mat-autocomplete #autoProducto="matAutocomplete" [displayWith]="mostrarProducto" (optionSelected)="onSelectionChanged($event)" >
            <mat-option *ngFor="let p of productosFiltrados$ | async" [value]="p" >
              {{p.nombre}}
            </mat-option>
        </mat-autocomplete>

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">producto</th>
              <th scope="col">cantidad</th>
              <th scope="col">precio</th>
              <th scope="col">stock</th>
              <th scope="col">Importe</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody formArrayName='pedidosDetalle'>
            <tr *ngFor='let pedidoForm of pedidosDetalle.controls; let i = index' formGroupName="{{i}}">

              <td class="text-nowrap">{{getProductoLabel(i)}}</td>
              <td style='text-align: center'>
                <button type="button"  aria-label="Agregar Producto" (click)="agregarCantidad(i)">
                  <mat-icon [inline]="true">add</mat-icon>
                </button>

                <mat-form-field class="cantidad"  >
                  <input matInput  formControlName="cantidad" readonly >
                </mat-form-field>
                <button   type="button"  aria-label="Remover Producto"   (click)="removerCantidad(i)" >
                  <mat-icon [inline]="true">remove</mat-icon>
                </button>
              </td>
              <td >S/.{{getPrecioLabel(i)}}</td>
              <td >{{getStockLabel(i)}}</td>
              <td >{{getImporteLabel(i)}}</td>
              <td >
              <button mat-raised-button color="warn" type="button" (click)="removerProducto(i)">
                <mat-icon [inline]="true">delete</mat-icon>
              </button>
              </td>
            </tr>
          </tbody>
          </table>
          </mat-card-content>
          </mat-card>
      </div>
    </div>

  </div>
</div>
</form>
